<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.asm.spring.ex.mvc.repository.UserRepository">
	<select id="selectLastUser" resultType="com.asm.spring.ex.mvc.domain.User">
		SELECT
		`id`
		,`name`
		,`yyyymmdd`
		,`email`
		,`introduce`
		,`createdAt`
		,`updatedAt`
	
		FROM
			`new_user`
		ORDER BY
			 `id` DESC
		LIMIT 
			1
	</select>
	
	<insert id="insertUser" parameterType="map">
		INSERT INTO 
			`new_user`
			(
				`name`
				, `yyyymmdd`
				, `email`
				, `introduce`
			)
			VALUE
			(
				#{name}
				, #{birthday}
				, #{email}
				, #{introduce}
			)
			
	</insert>
	
	<insert id="insertUserByObject" parameterType="com.asm.spring.ex.mvc.domain.User"
	useGeneratedKeys="true" keyProperty="id">
	<!-- useGeneratedKeys="true" keyProperty="id"는 primaty key를 전달받아서 그 키에 해당하는 결과를 parameterType에 넣어준다 -->
		INSERT INTO 
			`new_user`
			(
				`name`
				, `yyyymmdd`
				, `email`
				, `introduce`
			)
			VALUE
			(
				#{name}
				, #{yyyymmdd}
				, #{email}
				, #{introduce}
			)
	</insert>
</mapper>